/* Helvetica */

@font-face {
  font-family: "Helvetica";
  src: url("./fonts/helvetica/Helvetica.eot");
  src: local("Helvetica"),
    url("./fonts/helvetica/Helvetica.eot?#iefix") format("embedded-opentype"),
    url("./fonts/helvetica/Helvetica.woff2") format("woff2"),
    url("./fonts/helvetica/Helvetica.woff") format("woff"),
    url("./fonts/helvetica/Helvetica.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("./fonts/helvetica/Helvetica-Light.eot");
  src: local("Helvetica Light"), local("Helvetica-Light"),
    url("./fonts/helvetica/Helvetica-Light.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/helvetica/Helvetica-Light.woff2") format("woff2"),
    url("./fonts/helvetica/Helvetica-Light.woff") format("woff"),
    url("./fonts/helvetica/Helvetica-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("./fonts/helvetica/Helvetica-Bold.eot");
  src: local("Helvetica Bold"), local("Helvetica-Bold"),
    url("./fonts/helvetica/Helvetica-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/helvetica/Helvetica-Bold.woff2") format("woff2"),
    url("./fonts/helvetica/Helvetica-Bold.woff") format("woff"),
    url("./fonts/helvetica/Helvetica-Bold.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
